<h1>Listing ingredients</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @ingredients.each do |ingredient| %>
  <tr>
    <td><%= ingredient.name %></td>
    <td><%= link_to 'Show', ingredient %></td>
    <td><%= link_to image_tag('new-24.png'), edit_ingredient_path(ingredient) %></td>
    <td><%= link_to image_tag('cross-24.png'), ingredient, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
  <tr>
	<td>
	  <ul>
		<b><i>Allergies</i></b>
		<% for allergy in ingredient.allergies %>
		  <li><%= h allergy.name %></li>
		<% end %>
	  </ul>
	</td>
	<td></td>
	<td></td>
	<td></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Ingredient', new_ingredient_path %>
