<%= form_for(@product) do |product_form| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= product_form.text_field :brand, { :class => (@product.brand ? "existingInput" : "newInputField"), :value => @product.brand || "Brand"} %>
  </div>
   <div class="field">
    <%= product_form.text_field :name, { :class => (@product.name ? "existingInput" : "newInputField"), :value => @product.name || "Product Name"} %>
  </div>
  <div class="field">
    <%= product_form.text_area :description, {:rows => "3", :class => (@product.description ? "existingInput" : "newInputField"), :value => @product.description || "Product Description"} %>
  </div>
  
  <%= product_form.fields_for :ingredients do |ingredient_form| %>
	 <%= render 'ingredient_fields', :f => ingredient_form %>
  <% end %> 
	
  <div class="actions">
    <%= product_form.submit %>
  </div>
<% end %>
