<!DOCTYPE html>
<html>
<head>
  <title>DietaryRestriction</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag :application %>
  <%= javascript_include_tag :custom %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render_navigation %>
<%= yield %>

</body>
</html>
